@import "tailwindcss";

:root {
  --primary-color: #f97316;
}
.glow {
  box-shadow: 0 0 2px var(--primary-color), 0 0 5px var(--primary-color),
    0 0 10px var(--primary-color);
}
.icon-glow {
  filter: drop-shadow(0 0 3px var(--primary-color));
}
html {
  scroll-behavior: smooth;
}
@keyframes shine-glow {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shine-glow {
  animation: shine-glow 7s linear infinite;
}
