@import "tailwindcss";

:root {
  --primary-color: #f97316;
}
.glow {
  box-shadow: 0 0 2px var(--primary-color), 0 0 5px var(--primary-color),
    0 0 10px var(--primary-color);
}
.icon-glow {
  filter: drop-shadow(0 0 3px var(--primary-color));
}
.cta-button {
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
.cta-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  z-index: 0;
}
.cta-button:hover::before {
  width: 250%;
  height: 250%;
}
.cta-button span {
  position: relative;
  z-index: 1;
}
.cta-button:hover {
  color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color), 0 0 15px var(--primary-color),
    0 0 25px var(--primary-color);
}
