@import "tailwindcss";

:root {
  --primary-color: #f97316;
}
.glow {
  box-shadow: 0 0 2px var(--primary-color), 0 0 5px var(--primary-color),
    0 0 10px var(--primary-color);
}
.icon-glow {
  filter: drop-shadow(0 0 3px var(--primary-color));
}
