---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Benefits from "../components/Benefits.astro";
import CTA from "../components/CTA.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Stay Silent Records</title>
  </head>
  <body class="bg-black">
    <Navbar />
    <Hero />
		<Services />
		<Benefits />
		<CTA />
    <About />
    <Contact />
		<Footer />
  </body>
</html>
