---
import { Image } from "astro:assets";
import Gregor from "../assets/Gregor.jpg";
---

<section
  id="about"
  class="fade-in scroll-mt-30 px-6 md:px-10 lg:px-40 py-20 bg-black flex items-center"
>
  <div
    class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center"
  >
    <!-- Bildplatzhalter -->
    <div
      class="relative w-full h-auto bg-black rounded-2xl overflow-hidden flex items-center justify-center"
    >
      {
        (
          <Image
            src={Gregor}
            alt="Gregor Löffler"
            class="w-full h-full object-cover"
          />
        )
      }
    </div>

    <!-- Text -->
    <div>
      <h1 class="text-4xl md:text-5xl font-bold text-white tracking-tight mb-6">
        Über Stay Silent Records
      </h1>
      <p class="text-gray-400 leading-relaxed mb-4">
        Stay Silent Records ist mehr als nur ein Studio. Es ist ein Raum für
        Kreativität, Inspiration und professionelle Musikproduktion. Ich
        verbindee moderne Technik mit einem klaren, druckvollen Sound, der
        Künstlern dabei hilft, ihre Vision voll zu entfalten.
      </p>
      <p class="text-gray-400 leading-relaxed mb-4">
        Bei mir wird Erfahrung in Mixing, Mastering und Produktion
        zusammen mit einem feinen Gehör für Details gebracht. Mein Ziel ist es,
        Musik nicht nur gut klingen zu lassen, sondern Emotionen zum Leben zu
        erwecken.
      </p>
      <p class="text-gray-400 leading-relaxed">
        Ob Metal, Rock, Pop-Punk oder moderne Genres. Ich arbeite mit
        Leidenschaft, Präzision und einem hohen Anspruch an Qualität.
      </p>
    </div>
  </div>
</section>
