---
import Logo from "../assets/Logo.svg";
---

<div
  class="relative flex size-full min-h-screen flex-col bg-black dark group/design-root overflow-x-hidden"
  style='font-family: "Spline Sans", "Noto Sans", sans-serif;'
>
  <div class="layout-container flex h-full grow flex-col">
    <header
      class="fixed top-0 left-0 right-0 z-50 flex items-center justify-between whitespace-nowrap bg-black/50 backdrop-blur-sm px-10 py-4 border-b border-solid border-b-gray-800 transition-all duration-300"
    >
      <div class="flex items-center gap-3 text-white">
        <Logo width={50}/>
        <h2 class="text-white text-xl font-bold tracking-tight">
          Stay Silent Records
        </h2>
      </div>
      <div class="hidden md:flex flex-1 justify-end items-center gap-8">
        <nav class="flex items-center gap-6">
          <a
            class="text-gray-300 hover:text-white transition-colors text-sm font-medium"
            href="#">Services</a
          >
          <a
            class="text-gray-300 hover:text-white transition-colors text-sm font-medium"
            href="#">About</a
          >
          <a
            class="text-gray-300 hover:text-white transition-colors text-sm font-medium"
            href="#">Contact</a
          >
        </nav>
        <button
          class="bg-gradient-to-r from-orange-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white font-semibold py-3 px-6 rounded-full shadow-lg transform hover:scale-105 transition duration-300 ease-in-out cursor-pointer"
        >
          <span class="truncate">Book a Session</span>
        </button>
      </div>
      <div class="md:hidden">
        <button class="text-white">
          <span class="material-symbols-outlined"> menu </span>
        </button>
      </div>
    </header>
  </div>
</div>
